{%load menu_tags%}
{% for menu_item in menu_items %}

        {% if forloop.first %}<ul class="{% if menu_item.parent == 0 %}menu{% else %}sub-menu{% endif %}">{% endif %}
        <li class="menu-item {{ menu_item.id }}">
            <a href="{{ menu_item.path }}" target="{% if menu_item.is_url %}_blank{% else %}_self{% endif %}" class="{% if menu_item.is_active %}selected{% endif %}">
                {{ menu_item.menu_item_name }}
            </a>
            {% draw_menu name menu_item.id %}
        </li>

        {% if forloop.last %}</ul>{% endif %}
{% endfor %}
