
<!DOCTYPE html>
{% load static %}
{% load menu_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Tree Menu</title>
</head>
<body>
    <header class="header">
        <div class="header_inner _container">
            <div class="logo">Я Лого</div>
            <div class="header-menu">{% draw_menu 'main menu'%}</div>
        </div>
    </header>
    <main>
    {% block content %}{% endblock %}
    </main>
</body>
</html>